@import '../../../../custom-palettes.scss';

.inventual-managesale-top-btn {
	.mat-raised-button {
		font-size: 16px !important;
		font-weight: 700 !important;
		color: #fff !important;
		border-radius: 5px !important;
		height: 48px !important;
		line-height: 48px !important;
		padding: 0px 28px !important;
		margin-right: 16px !important;
		@apply sm:mb-1;
		&:last-child {
			margin-right: 0px !important;
		}
	}
	.mat-button-wrapper {
		display: flex !important;
		align-items: center !important;
	}
	.mat-icon {
		width: 20px !important;
		transform: translateX(-3px) !important;
		@apply mr-2.5;
	}
}

//sidebar menu style
@include inventualSidebarMuneStyle;
// Select field style
@include inventualSelectFieldStyle;
// Input field style
@include inventualInputFieldStyle;
//calender field style
@include inventualCalenderFieldStyle;

.custom-height-70 {
    height: 70px;
    min-height: 70px;
}
.inventual-select-field-nid .mat-form-field {
	@apply inline-flex;
	@apply mr-1;
	@apply w-8;
	@media (min-width: 992px) and (max-width: 1900px) {
		@apply w-6;
	}
	@media (max-width: 767px) {
		@apply w-6;
	}
	&::last-child {
		@apply mr-0;
	}
	input.mat-input-element {
		@apply p-0;
		@apply text-center;
	}
}