@import '../../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;

// Select field style
@include inventualSelectFieldStyle;

// Input field style
@include inventualInputFieldStyle;

.inventual-possale-product-list {
    @apply flex;
}
.inventual-possale-product-Products,
.inventual-possale-product-batch,
.inventual-possale-product-price,
.inventual-possale-product-qty,
.inventual-possale-product-total,
.inventual-possale-product-action {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply h-full;
    @apply pl-5;
    @apply pr-1;
}
.custom-height-70 {
    height: 70px;
    min-height: 70px;
}
.inventual-possale-product-Products {
    width: 24%;
    min-width: 200px;
}
.inventual-possale-product-batch {
    width: 19%;
    min-width: 160px;
}
.inventual-possale-product-price {
    width: 14%;
    min-width: 115px;
}
.inventual-possale-product-qty {
    width: 18%;
    min-width: 150px;
}
.inventual-possale-product-total {
    width: 15%;
    min-width: 120px;
}
.inventual-possale-product-action {
    @include productDeleteBtn;
}
.inventual-possale-product-qty {
    @include productCounter;
}
.inventual-possale-product-area {
    height: 350px;
    overflow-y: auto;
}
.inventual-possale-total-field {
    @apply relative;
    & input {
        @apply m-0;
        @apply h-10;
        @apply leading-38;
        @apply border-1;
        @apply border-r-0;
        @apply border-solid;
        @apply border-gray-borderThree;
        @apply px-4;
        @apply outline-none;
        @apply block;
        @apply text-14;
        @apply text-gray;
        @apply font-primary;
        @apply font-semibold;
        width: 180px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        @apply pr-11;
        &::-moz-placeholder,
        &::placeholder {
            @apply text-gray;
            @apply text-16;
            @apply opacity-100;
            @apply font-primary;
            @apply font-semibold;
        }
    }
    & button {
        @apply h-10;
        @apply w-10;
        @apply text-center;
        @apply leading-38;
        @apply border-1;
        @apply border-solid;
        @apply border-gray-borderThree;
        @apply outline-none;
        @apply inline-block;
        @apply text-16;
        @apply text-gray;
        @apply font-semibold;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        @apply absolute;
        @apply right-0;
        @apply bottom-0;
        @include transition;
        &:hover {
            border-color: #C1D5FE;
            @apply text-blue;
        }
    }
}
.inventual-possale-total-price {
	width: 100px;
}
.inventual-possale-total-item {
	width: 70px;
}
.inventual-possale-product-btn .mat-raised-button {
    font-size: 16px !important;
    font-weight: 700 !important;
    border-radius: 5px !important;
    width: 100% !important;
    color: #fff !important;
    height: 48px !important;
    line-height: 48px !important;
}
.inventual-select-field {
    & .plus-btn {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
//tab css start here
.inventual-possale-tab-menu {
    .mat-tab-body-content {
        @apply overflow-hidden;
    }
    .mat-tab-labels {
        @media (max-width: 576px) {
            display: inherit;
        }
    }
    .mat-tab-nav-bar, .mat-tab-header {
        border: none;
    }
    .mat-tab-label {
        @apply h-12;
        @apply px-6;
        @apply opacity-100;
        min-width: 30%;
        @apply text-center;
        @apply inline-flex;
        @apply justify-center;
        @apply items-center;
        white-space: nowrap;
        @apply relative;
        @apply bg-green;
        margin-right: 30px;
        @apply text-white;
        @apply rounded-5;
        @media (max-width: 576px) {
            @apply w-full;
            @apply mr-0;
            @apply mb-2.5;
        }
        &:first-child {
            @apply bg-blue;
        }
        &:last-child {
            @apply mr-0;
            @apply bg-orange;
        }
    }
    .mat-ink-bar {
        display: none;
    }
    .mat-tab-labels {
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
        display: none;
    }
}
.inventual-possale-area,
.inventual-possale-tab-area {
    box-shadow: 0px 20px 40px rgba(18,42,91,0.05);
}
.inventual-possale-tab-product-text {
    h5 {
        @apply text-15;
        @apply font-bold;
        @apply text-black;
        @apply mb-2;
    }
    span {
        @apply text-14;
        @apply font-normal;
        @apply text-gray;
        @apply inline-block;
    }
}
.inventual-possale-tab-product-img {
    height: 130px;
    @apply flex-col;
    @apply flex;
    @apply justify-center;
    @apply items-center;
}
.inventual-possale-tab-product {
    @apply border-1;
    @apply border-solid;
    @apply border-gray-borderThree;
    @apply pb-4;
    @apply px-2;
    min-height: 30%;
    @apply rounded-5;
    @apply justify-center;

    @include transition;
    &:hover {
        @apply border-gray-borderFive;
    }
}
.inventual-possale-tab-menu-pagination {
    & a {
        @apply mx-2.5;
        @apply inline-block;
        @include transition;
        & .material-icons {
            @apply text-18;
            transform: translateX(-1px);
            @apply leading-33;
        }
        &:hover {
            @apply bg-blue;
            @apply text-white;
        }
    }
}


.inventual-possale-product-area {
    @media (min-width: 1601px) and (max-width: 1900px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-possale-product-wrapper {
    @media (min-width: 1601px) and (max-width: 1900px) {
		width: 825px;
        min-width: 100%;
		scrollbar-height: thin;
	}
    @media (min-width: 1201px) and (max-width: 1600px) {
		width: 825px;
        min-width: 100%;
		scrollbar-height: thin;
	}
    @media (max-width: 991px) {
		width: 825px;
        min-width: 100%;
		scrollbar-height: thin;
	}
}




  


@include inventualSidebarMuneStyle;

.inventual-manageproduct-top-btn {
	.mat-raised-button {
		font-size: 16px !important;
		font-weight: 700 !important;
		color: #fff !important;
		border-radius: 5px !important;
		height: 48px !important;
		line-height: 48px !important;
		padding: 0px 28px !important;
		margin-right: 16px !important;
		@apply sm:mb-1;
		&:last-child {
			margin-right: 0px !important;
		}
	}
	.mat-button-wrapper {
		display: flex !important;
		align-items: center !important;
	}
	.mat-icon {
		width: 20px !important;
		transform: translateX(-3px) !important;
		@apply mr-2.5;
	}
}

//inventual header searchbar
@include inventualHeaderSearch;

//inventual header searchbar action
@include inventualHeaderSearchAction;

.inventual-manageproduct-table-checkbox,
.inventual-manageproduct-table-sl,
.inventual-manageproduct-table-image,
.inventual-manageproduct-table-name,
.inventual-manageproduct-table-code,
.inventual-manageproduct-table-category,
.inventual-manageproduct-table-subcategory,
.inventual-manageproduct-table-brand,
.inventual-manageproduct-table-unit,
.inventual-manageproduct-table-variant,
.inventual-manageproduct-table-stock,
.inventual-manageproduct-table-price,
.inventual-manageproduct-table-action {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-15;
		@apply font-semibold;
		@apply text-black;
	}
	& span {
		@apply text-14;
		@apply font-normal;
		@apply text-gray;
	}
}
.inventual-manageproduct-table-checkbox {
	min-width: 70px;
	width: 4%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 50px;
		width: 4%;
	}
	@media (max-width: 1600px) {
		min-width: 50px;
		width: 4%;
	}
}
.inventual-manageproduct-table-sl {
	min-width: 65px;
	width: 4%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 40px;
		width: 3%;
	}
	@media (max-width: 1600px) {
		min-width: 40px;
		width: 3%;
	}
}
.inventual-manageproduct-table-image {
	min-width: 100px;
	width: 6%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 70px;
		width: 6%;
	}
	@media (max-width: 1600px) {
		min-width: 70px;
		width: 6%;
	}
}
.inventual-manageproduct-table-name {
	min-width: 180px;
	width: 12.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 150px;
		width: 12.5%;
	}
	@media (max-width: 1600px) {
		min-width: 150px;
		width: 12.5%;
	}
}
.inventual-manageproduct-table-code {
	min-width: 120px;
	width: 12.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 100px;
		width: 12.5%;
	}
	@media (max-width: 1600px) {
		min-width: 100px;
		width: 12.5%;
	}
}
.inventual-manageproduct-table-category {
	min-width: 110px;
	width: 12.5%;
}
.inventual-manageproduct-table-subcategory {
	min-width: 140px;
	width: 9%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 120px;
		width: 9%;
	}
	@media (max-width: 1600px) {
		min-width: 120px;
		width: 9%;
	}
}
.inventual-manageproduct-table-brand {
	min-width: 130px;
	width: 12.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 12.5%;
		min-width: 105px;
	}
	@media (max-width: 1600px) {
		width: 12.5%;
		min-width: 105px;
	}
}
.inventual-manageproduct-table-unit {
	min-width: 110px;
	width: 12.5%;
}
.inventual-manageproduct-table-variant {
	min-width: 100px;
	width: 7%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 7%;
		min-width: 70px;
	}
	@media (max-width: 1600px) {
		width: 7%;
		min-width: 70px;
	}
}
.inventual-manageproduct-table-stock {
	min-width: 85px;
	width: 12.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 12.5%;
		min-width: 65px;
	}
	@media (max-width: 1600px) {
		width: 12.5%;
		min-width: 65px;
	}
}
.inventual-manageproduct-table-price {
	min-width: 125px;
	width: 12.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 12.5%;
		min-width: 90px;
	}
	@media (max-width: 1600px) {
		width: 12.5%;
		min-width: 90px;
	}
}

.inventual-manageproduct-table-image-inner {
    @apply inline-block;
    @apply h-12;
    @apply w-12;
    @apply bg-gray-bgThree;
    @apply rounded-5;
    @apply p-2;
}

@include commonActionMenuStyle;

.inventual-manageproduct-table-checkbox {
	.mat-checkbox-layout {
		@apply ml-4;
	}
	.mat-checkbox-frame {
		border-color: #CBCED4 !important;
	}
	.mat-checkbox {
		@apply flex;
	}
}

.inventual-manageproduct-table-inner {
	@media (max-width: 1600px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-manageproduct-table-inner-wrapper {
	@media (max-width: 1600px) {
		width: 1225px;
        min-width: 100%;
		scrollbar-height: thin;
	}
}

